<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Practica parcial</title>
    <link rel="stylesheet" href="estilos/estilos.css">
</head>

<body class="index">

    <h1> Inicio </h1>
    <div class="visita">
        <h2>Visitas: </h2>
        <span class="visitas">0</span>
    </div>


    <div class="menu">
        <a href="/">Inicio</a>
        <a href="/paginaUno">Página Uno</a>
        <a href="/paginaDos">Página Dos</a>
    </div>
</body>

<script src="/javascript/visitas.js"></script>
</html>