<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>P치gina pUno</title>
    <link rel="stylesheet" href="estilos/estilos.css">
</head>

<body class="uno">

    <h1> P치gina Uno </h1>
    <div class="visita">
        <h2>Visitas: </h2>
        <span class="visitas">0</span>
    </div>


    <div class="menu">
        <a href="/">Inicio</a>
        <a href="/paginaUno">P치gina Uno</a>
        <a href="/paginaDos">P치gina Dos</a>
    </div>
</body>
<script src="/javascript/visitas.js"></script>

</html>